In [1]:
%pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\lenovo\anaconda3\lib\site-packages (2.0.40)
Requirement already satisfied: greenlet>=1 in c:\users\lenovo\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\lenovo\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector
from sqlalchemy import create_engine
import getpass
import pandas as pd

In [20]:
import pandas as pd

# Tạo DataFrame
data = {
    "id": [1, 2, 3],
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35]
}

df = pd.DataFrame(data)

# Debug iterrows()
for index, row in df.iterrows():
    print(f"\n--- Bắt đầu xử lý dòng có index = {index} ---")
    print("Kiểu dữ liệu của row:", type(row))  # Kiểm tra row là gì
    print("row:", row)  # In toàn bộ dữ liệu của row
    
    # Xem từng giá trị
    print("row['id']:", row['id'])
    print("row['name']:", row['name'])
    print("row['age']:", row['age'])

--- Bắt đầu xử lý dòng có index = 0 ---
Kiểu dữ liệu của row: <class 'pandas.core.series.Series'>
row: id          1
name    Alice
age        25
Name: 0, dtype: object
row['id']: 1
row['name']: Alice
row['age']: 25

--- Bắt đầu xử lý dòng có index = 1 ---
Kiểu dữ liệu của row: <class 'pandas.core.series.Series'>
row: id        2
name    Bob
age      30
Name: 1, dtype: object
row['id']: 2
row['name']: Bob
row['age']: 30

--- Bắt đầu xử lý dòng có index = 2 ---
Kiểu dữ liệu của row: <class 'pandas.core.series.Series'>
row: id            3
name    Charlie
age          35
Name: 2, dtype: object
row['id']: 3
row['name']: Charlie
row['age']: 35

In [4]:
host = "localhost"
user = "root"
password = getpass.getpass("Nhap mat khau: ")
database = "day43"
try:
    connection = mysql.connector.connect(
        host = host ,
        user = user,
        password = password,
        database = database
    )

    if connection.is_connected():
        print("ket noi thanh cong ")
        cursor = connection.cursor()
except mysql.connector.Error as e:
    print(f"loi ")

ket noi thanh cong

In [5]:
engine = create_engine("mysql+mysqlconnector://root:qiwoqqwu@localhost/day43")

In [10]:
data = [
        ("A01", "Claude Agent", "Claude 3", "T01", "Summarization", "NLP"),
        ("A02", "GPT Assistant", "GPT-4", "T02", "SQL Generation", "Code"),
        ("A01", "Claude Agent", "Claude 3", "T03", "Sentiment Analysis", "NLP"),
        ("A03", "Gemini Helper", "Gemini 1.5", "T01", "Summarization", "NLP")
    ]

In [11]:
cursor = connection.cursor()
cursor.execute('''
        CREATE TABLE IF NOT EXISTS AgentTasks_Raw (
            agent_id VARCHAR(10),
            agent_name VARCHAR(50),
            llm_model VARCHAR(50),
            task_id VARCHAR(10),
            task_name VARCHAR(50),
            task_type VARCHAR(20),
            PRIMARY KEY (agent_id, task_id)
        )
    ''')
print("Bảng 'AgentTasks_Raw' đã được tạo thành công!")

Bảng 'AgentTasks_Raw' đã được tạo thành công!

In [13]:
df = pd.DataFrame(data, columns=["agent_id", "agent_name", "llm_model", "task_id", "task_name", "task_type"])

for _, row in df.iterrows():
    cursor.execute('''
        INSERT INTO AgentTasks_Raw (agent_id, agent_name, llm_model, task_id, task_name, task_type)
        VALUES (%s, %s, %s, %s, %s, %s)
    ''', tuple(row))
#for row in data:
#    cursor.execute("""
#        INSERT INTO AgentTasks_Raw (agent_id, agent_name, llm_model, task_id, task_name, task_type) 
#        VALUES (%s, %s, %s, %s, %s, %s)
#    """, row)
connection.commit()
print("Dữ liệu đã được chèn thành công!")

Dữ liệu đã được chèn thành công!

In [22]:
query_check="""Select * from AgentTasks_Raw"""
df = pd.read_sql(query_check, engine)
print(df)

  agent_id     agent_name   llm_model task_id           task_name task_type
0      A01   Claude Agent    Claude 3     T01       Summarization       NLP
1      A01   Claude Agent    Claude 3     T03  Sentiment Analysis       NLP
2      A02  GPT Assistant       GPT-4     T02      SQL Generation      Code
3      A03  Gemini Helper  Gemini 1.5     T01       Summarization       NLP

In [8]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS Agents (
        agent_id VARCHAR(10) PRIMARY KEY,
        agent_name VARCHAR(50),
        llm_model VARCHAR(50)
    )
""")
print("Bảng 'Agents' đã được tạo thành công!")

Bảng 'Agents' đã được tạo thành công!

In [9]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS Tasks (
        task_id VARCHAR(10) PRIMARY KEY,
        task_name VARCHAR(50),
        task_type VARCHAR(20)
    )
""")
print("Bảng 'Tasks' đã được tạo thành công!")

Bảng 'Tasks' đã được tạo thành công!

In [10]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS AgentTasks (
        agent_id VARCHAR(10),
        task_id VARCHAR(10),
        PRIMARY KEY (agent_id, task_id),
        FOREIGN KEY (agent_id) REFERENCES Agents(agent_id),
        FOREIGN KEY (task_id) REFERENCES Tasks(task_id)
    )
""")

In [ ]:
# Lấy tất cả dữ liệu từ bảng AgentTasks_Raw
cursor.execute('SELECT * FROM AgentTasks_Raw')
rows = cursor.fetchall()

# Duyệt qua tất cả các dòng dữ liệu từ AgentTasks_Raw
for row in rows:
    # Unpacking tuple
    agent_id, agent_name, llm_model, task_id, task_name, task_type = row
    
    # Chèn dữ liệu vào bảng Agents
    cursor.execute("""
        INSERT IGNORE INTO Agents (agent_id, agent_name, llm_model)
        VALUES (%s, %s, %s)
    """, (agent_id, agent_name, llm_model))
    
    # Chèn dữ liệu vào bảng Tasks
    cursor.execute("""
        INSERT IGNORE INTO Tasks (task_id, task_name, task_type)
        VALUES (%s, %s, %s)
    """, (task_id, task_name, task_type))
    
    # Chèn dữ liệu vào bảng AgentTasks (mối quan hệ giữa Agent và Task)
    cursor.execute("""
        INSERT INTO AgentTasks (agent_id, task_id)
        VALUES (%s, %s)
    """, (agent_id, task_id))

# Commit các thay đổi vào cơ sở dữ liệu
connection.commit()

# Thông báo đã hoàn thành
print("Dữ liệu đã được chuyển vào 3 bảng.")

In [16]:
for row in rows:
    agent_id, agent_name, llm_model, task_id, task_name, task_type = row
    print(f"agent_id: {agent_id}, agent_name: {agent_name}, llm_model: {llm_model}, task_id: {task_id}, task_name: {task_name}, task_type: {task_type}")

agent_id: A01, agent_name: Claude Agent, llm_model: Claude 3, task_id: T01, task_name: Summarization, task_type: NLP
agent_id: A01, agent_name: Claude Agent, llm_model: Claude 3, task_id: T03, task_name: Sentiment Analysis, task_type: NLP
agent_id: A02, agent_name: GPT Assistant, llm_model: GPT-4, task_id: T02, task_name: SQL Generation, task_type: Code
agent_id: A03, agent_name: Gemini Helper, llm_model: Gemini 1.5, task_id: T01, task_name: Summarization, task_type: NLP

In [13]:
query_check="""Select * from Agents"""
df = pd.read_sql(query_check, engine)
print(df)

query_check="""Select * from Tasks"""
df2 = pd.read_sql(query_check, engine)
print(df2)

query_check="""Select * from AgentTasks"""
df3 = pd.read_sql(query_check, engine)
print(df3)

  agent_id     agent_name   llm_model
0      A01   Claude Agent    Claude 3
1      A02  GPT Assistant       GPT-4
2      A03  Gemini Helper  Gemini 1.5
  task_id           task_name task_type
0     T01       Summarization       NLP
1     T02      SQL Generation      Code
2     T03  Sentiment Analysis       NLP
  agent_id task_id
0      A01     T01
1      A03     T01
2      A02     T02
3      A01     T03

a) Lấy danh sách các tác vụ và tên Agent thực hiện.

In [ ]:
query5a="""     Select AT.task_id, T.task_name, AT.agent_id, A.agent_name
                From AgentTasks as AT 
                Inner Join Tasks as T
                on AT.task_id = T.task_id
                Inner Join Agents as A
                on AT.agent_id = A.agent_id
                 """
df = pd.read_sql(query5a,engine)
print(df)

  task_id           task_name agent_id     agent_name
0     T03  Sentiment Analysis      A01   Claude Agent
1     T01       Summarization      A01   Claude Agent
2     T02      SQL Generation      A02  GPT Assistant
3     T01       Summarization      A03  Gemini Helper

b) Lấy danh sách các mô hình LLM đang được sử dụng

In [8]:
query5b= """SELECT AT.agent_id,A.llm_model
            FROM AgentTasks as AT
            INNER JOIN Agents as A
            ON AT.agent_id = A.agent_id"""
df5b = pd.read_sql(query5b,engine)
print(df5b)

  agent_id   llm_model
0      A01    Claude 3
1      A03  Gemini 1.5
2      A02       GPT-4
3      A01    Claude 3

c) Đếm số tác vụ thuộc mỗi loại (task_type).

In [9]:
query5c = """
SELECT T.task_type, COUNT(*) AS NumOfTaskType
FROM Tasks AS T
JOIN AgentTasks AS AT
    ON T.task_id = AT.task_id
GROUP BY T.task_type
"""
df = pd.read_sql(query5c, engine)
print(df)

  task_type  NumOfTaskType
0       NLP              3
1      Code              1

5Dd) Tìm các Agent sử dụng LLM có tên bắt đầu bằng chữ G.

In [14]:
query5d = """SELECT AT.agent_id , A.Agent_name
            FROM AgentTasks as AT 
             Inner Join Agents as A
              ON AT.agent_id = A.agent_id
               WHERE A.llm_model like 'G%'
                GROUP BY AT.agent_id , A.Agent_name """

df5d = pd.read_sql(query5d,engine)
print(df5d)

  agent_id     Agent_name
0      A02  GPT Assistant
1      A03  Gemini Helper