In [1]:
import numpy as np

In [3]:
%pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\lenovo\anaconda3\lib\site-packages (9.2.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import mysql.connector

# Thông tin kết nối
host = "localhost"
user = "root"  # Thay bằng username của bạn
password = "qiwoqqwu"  # Thay bằng mật khẩu của bạn

try:
    # Kết nối đến MySQL (chưa chọn database)
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database="day_36"
    )

    if connection.is_connected():
        print("Kết nối thành công đến MySQL Server!")
        cursor = connection.cursor()  # Tạo cursor để thực thi lệnh SQL

except mysql.connector.Error as e:
    print(f"Lỗi khi kết nối: {e}")

Kết nối thành công đến MySQL Server!

In [52]:
cursor = connection.cursor()

# Tạo database 'day_36'
cursor.execute("""
CREATE DATABASE IF NOT EXISTS day_36
DEFAULT CHARACTER SET utf8mb4
COLLATE utf8mb4_unicode_ci;
""")

print(" Database 'day_36' đã được tạo thành công!")

 Database 'day_36' đã được tạo thành công!

In [53]:
cursor = connection.cursor()

cursor.execute("USE day_36")

# Tạo bảng Products
cursor.execute("""
CREATE TABLE IF NOT EXISTS Products (
    ProductID INT PRIMARY KEY,
    ProductName VARCHAR(100) NOT NULL,
    Category VARCHAR(50) NOT NULL,
    Price DECIMAL(10,2) NOT NULL,
    StockQuantity INT NOT NULL
)
""")

print(" Bảng 'Products' đã được tạo thành công!")

 Bảng 'Products' đã được tạo thành công!

In [54]:
cursor = connection.cursor()

# Chọn database để làm việc
cursor.execute("USE day_36")

# Tạo bảng Customers
cursor.execute("""
CREATE TABLE IF NOT EXISTS Customers (
    CustomerID INT PRIMARY KEY,
    FullName VARCHAR(100) NOT NULL,
    PhoneNumber VARCHAR(15) UNIQUE NOT NULL,
    Email VARCHAR(100) UNIQUE NOT NULL
)
""")

print("Bảng 'Customers' đã được tạo thành công!")

Bảng 'Customers' đã được tạo thành công!

In [56]:
cursor = connection.cursor()

# Chọn database để làm việc
cursor.execute("USE day_36")

# Tạo bảng Salespersons
cursor.execute("""
CREATE TABLE IF NOT EXISTS Salespersons (
    SalespersonID INT PRIMARY KEY,
    FullName VARCHAR(100) NOT NULL,
    PhoneNumber VARCHAR(15) UNIQUE NOT NULL
)
""")

print(" Bảng 'Salespersons' đã được tạo thành công!")

 Bảng 'Salespersons' đã được tạo thành công!

In [57]:
cursor = connection.cursor()

# Chọn database để làm việc
cursor.execute("USE day_36")

# Tạo bảng Orders
cursor.execute("""
CREATE TABLE IF NOT EXISTS Orders (
    OrderID INT PRIMARY KEY,
    CustomerID INT NOT NULL,
    SalespersonID INT NOT NULL,
    OrderDate DATE NOT NULL,
    TotalAmount DECIMAL(10,2) NOT NULL,
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID),
    FOREIGN KEY (SalespersonID) REFERENCES Salespersons(SalespersonID)
)
""")

print(" Bảng 'Orders' đã được tạo thành công!")

 Bảng 'Orders' đã được tạo thành công!

In [58]:
cursor = connection.cursor()

# Chọn database để làm việc
cursor.execute("USE day_36")

# Tạo bảng OrderDetails
cursor.execute("""
CREATE TABLE IF NOT EXISTS OrderDetails (
    OrderDetailID INT PRIMARY KEY,
    OrderID INT NOT NULL,
    ProductID INT NOT NULL,
    Quantity INT NOT NULL,
    Subtotal DECIMAL(10,2) NOT NULL,
    FOREIGN KEY (OrderID) REFERENCES Orders(OrderID),
    FOREIGN KEY (ProductID) REFERENCES Products(ProductID)
)
""")

print("Bảng 'OrderDetails' đã được tạo thành công!")

Bảng 'OrderDetails' đã được tạo thành công!

In [3]:
cursor.execute("""
SELECT TABLE_NAME, COLUMN_NAME
FROM INFORMATION_SCHEMA.KEY_COLUMN_USAGE
WHERE TABLE_SCHEMA = 'day_36' AND CONSTRAINT_NAME = 'PRIMARY'
""")

print("Danh sách khóa chính:")
for row in cursor.fetchall():
    print(f"- Bảng {row[0]}: {row[1]}")

cursor.execute("""
SELECT TABLE_NAME, COLUMN_NAME, CONSTRAINT_NAME, REFERENCED_TABLE_NAME, REFERENCED_COLUMN_NAME
FROM INFORMATION_SCHEMA.KEY_COLUMN_USAGE
WHERE TABLE_SCHEMA = 'day_36' AND REFERENCED_TABLE_NAME IS NOT NULL
""")

print("\nDanh sách khóa ngoại:")
for row in cursor.fetchall():
    print(f"- Bảng {row[0]}: {row[1]} -> {row[3]}({row[4]}) [Ràng buộc: {row[2]}]")

Danh sách khóa chính:
- Bảng customers: CustomerID
- Bảng orderdetails: OrderDetailID
- Bảng orders: OrderID
- Bảng products: ProductID
- Bảng salespersons: SalespersonID

Danh sách khóa ngoại:
- Bảng orderdetails: OrderID -> orders(OrderID) [Ràng buộc: orderdetails_ibfk_1]
- Bảng orderdetails: ProductID -> products(ProductID) [Ràng buộc: orderdetails_ibfk_2]
- Bảng orders: CustomerID -> customers(CustomerID) [Ràng buộc: orders_ibfk_1]
- Bảng orders: SalespersonID -> salespersons(SalespersonID) [Ràng buộc: orders_ibfk_2]

In [7]:
cursor.execute("""
SELECT COLUMN_NAME, DATA_TYPE, CHARACTER_MAXIMUM_LENGTH
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_SCHEMA = 'day_36' AND TABLE_NAME = 'Products'
ORDER BY ORDINAL_POSITION
""")

print("Danh sách các cột trong bảng Products:")
for row in cursor.fetchall():
    column_name, data_type, char_length = row
    length_info = f"({char_length})" if char_length else ""
    print(f"- {column_name}: {data_type}{length_info}")

Danh sách các cột trong bảng Products:
- ProductID: int
- ProductName: varchar(100)
- Category: varchar(50)
- Price: decimal
- StockQuantity: int

In [62]:
cursor.execute("""
INSERT INTO Products (ProductID, ProductName, Category, Price, StockQuantity)
VALUES
(1, 'Laptop Dell XPS', 'Laptop', 25000000, 10),
(2, 'iPhone 14', 'Điện thoại', 22000000, 15),
(3, 'Tai nghe Sony', 'Phụ kiện', 3000000, 20),
(4, 'Bàn phím Cơ', 'Phụ kiện', 1500000, 50),
(5, 'MacBook Air M2', 'Laptop', 28000000, 8)
""")

connection.commit()
print("Dữ liệu đã được chèn vào bảng Products thành công.")

Dữ liệu đã được chèn vào bảng Products thành công.

In [63]:
cursor.execute("""
INSERT INTO Customers (CustomerID, FullName, PhoneNumber, Email)
VALUES
(1, 'Nguyễn Văn A', '0987654321', 'a@example.com'),
(2, 'Trần Thị B', '0976543210', 'b@example.com'),
(3, 'Lê Văn C', '0965432109', 'c@example.com'),
(4, 'Phạm Thị D', '0945678123', 'd@example.com'),
(5, 'Bùi Văn E', '0936789123', 'e@example.com')
""")

connection.commit()
print("Dữ liệu đã được chèn vào bảng Customers thành công.")

Dữ liệu đã được chèn vào bảng Customers thành công.

In [64]:
cursor.execute("""
INSERT INTO Salespersons (SalespersonID, FullName, PhoneNumber)
VALUES
(1, 'Lê Hoàng Nam', '0934567890'),
(2, 'Trần Quốc Bảo', '0945678123'),
(3, 'Nguyễn Minh Hà', '0956789123')
""")

connection.commit()
print("Dữ liệu đã được chèn vào bảng Salespersons thành công.")

Dữ liệu đã được chèn vào bảng Salespersons thành công.

In [8]:
cursor.execute("USE day_36")
cursor.execute("""
INSERT INTO Orders (OrderID, CustomerID, SalespersonID, OrderDate, TotalAmount)
VALUES
(1, 1, 1, '2024-03-10', 25000000),
(2, 2, 2, '2024-03-11', 3000000),
(3, 3, 3, '2024-03-12', 22000000)
""")

connection.commit()
print("Dữ liệu đã được chèn vào bảng Orders thành công.")

Dữ liệu đã được chèn vào bảng Orders thành công.

In [9]:
cursor.execute("USE day_36")  # Chọn database

cursor.execute("""
INSERT INTO OrderDetails (OrderDetailID, OrderID, ProductID, Quantity, Subtotal)
VALUES
(1, 1, 1, 1, 25000000),
(2, 2, 3, 1, 3000000),
(3, 3, 2, 1, 22000000)
""")

connection.commit()
print("Dữ liệu đã được chèn vào bảng OrderDetails thành công.")

Dữ liệu đã được chèn vào bảng OrderDetails thành công.

In [6]:
import pandas as pd

In [26]:
%pip install mysql-connector-python pygraphviz

Requirement already satisfied: mysql-connector-python in c:\users\lenovo\anaconda3\lib\site-packages (9.2.0)
Requirement already satisfied: pygraphviz in c:\users\lenovo\anaconda3\lib\site-packages (1.14)
Note: you may need to restart the kernel to use updated packages.

In [28]:
%pip install mysqlclient

Collecting mysqlclient
  Downloading mysqlclient-2.2.7-cp312-cp312-win_amd64.whl.metadata (4.8 kB)
Downloading mysqlclient-2.2.7-cp312-cp312-win_amd64.whl (208 kB)
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.7
Note: you may need to restart the kernel to use updated packages.

In [34]:
import mysql.connector

connection = mysql.connector.connect(
    host='localhost',
    user='root',
    password='qiwoqqwu',
    database='day_36'
)

if connection.is_connected():
    print("Connection successful")
else:
    print("Connection failed")

Connection successful

In [15]:
%pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [22]:
from sqlalchemy import create_engine

# Kết nối MySQL bằng SQLAlchemy
engine = create_engine("mysql+pymysql://root:qiwoqqwu@localhost/day_36")

# Chạy truy vấn
query = "SELECT * FROM Products WHERE StockQuantity > 0"
df = pd.read_sql(query, engine)

# Hiển thị kết quả
print(df)

   ProductID      ProductName    Category       Price  StockQuantity
0          1  Laptop Dell XPS      Laptop  25000000.0             10
1          2        iPhone 14  Điện thoại  22000000.0             15
2          3    Tai nghe Sony    Phụ kiện   3000000.0             20
3          4      Bàn phím Cơ    Phụ kiện   1500000.0             50
4          5   MacBook Air M2      Laptop  28000000.0              8

In [18]:
query= " select * from customers"
df = pd.read_sql(query, engine)
print(df)

   CustomerID      FullName PhoneNumber          Email
0           1  Nguyễn Văn A  0987654321  a@example.com
1           2    Trần Thị B  0976543210  b@example.com
2           3      Lê Văn C  0965432109  c@example.com
3           4    Phạm Thị D  0945678123  d@example.com
4           5     Bùi Văn E  0936789123  e@example.com

In [20]:
query="Select * FROM Customers where customerID =1 "
df= pd.read_sql(query,engine)
print(df)

   CustomerID      FullName PhoneNumber          Email
0           1  Nguyễn Văn A  0987654321  a@example.com

In [25]:

query = "select * from orders"
df = pd.read_sql(query,engine)
print(df)

   OrderID  CustomerID  SalespersonID   OrderDate  TotalAmount
0        1           1              1  2024-03-10   25000000.0
1        2           2              2  2024-03-11    3000000.0
2        3           3              3  2024-03-12   22000000.0

In [30]:
query = """
SELECT S.FullName, SUM(O.TotalAmount) AS TotalSales
FROM Orders AS O
JOIN Salespersons AS S ON S.SalespersonID = O.SalespersonID
GROUP BY S.SalespersonID;
"""

df = pd.read_sql(query, engine)
print(df)

         FullName  TotalSales
0    Lê Hoàng Nam  25000000.0
1   Trần Quốc Bảo   3000000.0
2  Nguyễn Minh Hà  22000000.0

In [31]:
query="""SELECT s.FullName, SUM(o.TotalAmount) AS TotalSales
FROM Salespersons AS s
JOIN Orders AS o ON s.SalespersonID = o.SalespersonID
GROUP BY s.SalespersonID;
"""

df = pd.read_sql(query, engine)
print(df)

         FullName  TotalSales
0    Lê Hoàng Nam  25000000.0
1   Trần Quốc Bảo   3000000.0
2  Nguyễn Minh Hà  22000000.0

Thống Kê Nâng Cao

In [37]:
query="""SELECT s.FullName, SUM(o.TotalAmount) AS TotalSales
FROM salespersons AS s
JOIN orders AS o ON s.SalespersonID = o.SalespersonID
GROUP BY s.SalespersonID
ORDER BY TotalSales DESC
LIMIT 1;

"""
df = pd.read_sql(query, engine)
print(df)

       FullName  TotalSales
0  Lê Hoàng Nam  25000000.0

In [38]:
query="""SELECT c.FullName, SUM(o.TotalAmount) AS TotalSpent
FROM customers AS c
JOIN orders AS o ON c.CustomerID = o.CustomerID
GROUP BY c.CustomerID
ORDER BY TotalSpent DESC
LIMIT 3;
"""
df = pd.read_sql(query,engine)
print(df)

       FullName  TotalSpent
0  Nguyễn Văn A  25000000.0
1      Lê Văn C  22000000.0
2    Trần Thị B   3000000.0

In [39]:
query="""SELECT MONTH(o.OrderDate) As Month , Sum(o.TotalAmount) as TotalRevenue
FROM orders as o 
GROUP BY Month
ORDER BY TotalRevenue DESC
LIMIT 1; """
df = pd.read_sql(query,engine)
print(df)

   Month  TotalRevenue
0      3    50000000.0

In [40]:
query="""SELECT p.ProductName, SUM(od.Quantity) AS TotalSold
FROM orderdetails AS od
JOIN products AS p ON od.ProductID = p.ProductID
GROUP BY p.ProductName
ORDER BY TotalSold DESC
LIMIT 1;
"""
df = pd.read_sql(query,engine)
print(df)

       ProductName  TotalSold
0  Laptop Dell XPS        1.0

In [42]:
query="""SHOW VARIABLES LIKE 'datadir';
"""
df = pd.read_sql(query,engine)
print(df)

  Variable_name                                        Value
0       datadir  C:\ProgramData\MySQL\MySQL Server 8.0\Data\

In [7]:
%pip install graphviz

Requirement already satisfied: graphviz in c:\users\lenovo\anaconda3\lib\site-packages (0.20.3)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import graphviz
print(graphviz.__version__)

0.20.3