In [9]:
import mysql.connector
from sqlalchemy import create_engine
import getpass
import pandas as pd

In [10]:
host = "localhost"
user = "root"
password = getpass.getpass("Nhap mat khau: ")
database = "day43"
try:
    connection = mysql.connector.connect(
        host = host ,
        user = user,
        password = password,
        database = database
    )

    if connection.is_connected():
        print("ket noi thanh cong ")
        cursor = connection.cursor()
except mysql.connector.Error as e:
    print(f"loi ")

ket noi thanh cong

In [11]:
engine = create_engine("mysql+mysqlconnector://root:qiwoqqwu@localhost/day43")

In [12]:
cursor = connection.cursor()
cursor.execute('''
        CREATE TABLE Records_NO3NF (
        record_id VARCHAR(10),
        item_code VARCHAR(10),
        item_name VARCHAR(100),
        quantity INT,
        warehouse_id VARCHAR(10),
        warehouse_name VARCHAR(100),
        location VARCHAR(20),
        customer_id VARCHAR(10),
        customer_name VARCHAR(100),
        staff_id VARCHAR(10),
        staff_name VARCHAR(100)
);

    ''')
print("Bảng 'Records_NO3NF' đã được tạo thành công!")

Bảng 'Records_NO3NF' đã được tạo thành công!

In [14]:
cursor = connection.cursor()
query = '''
    INSERT INTO Records_NO3NF 
    (record_id, item_code, item_name, quantity, warehouse_id, warehouse_name, location, customer_id, customer_name, staff_id, staff_name)
    VALUES
    (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
'''

# Values to insert
values = [
    ('R001', 'IT001', 'Motor Oil 5L', 50, 'WH01', 'Main Warehouse', 'Shelf A1', 'C001', 'Mekong Corp', 'S01', 'Hoa Nguyen'),
    ('R002', 'IT002', 'Engine Cleaner', 30, 'WH01', 'Main Warehouse', 'Shelf B2', 'C002', 'Vina Auto', 'S02', 'Khang Tran'),
    ('R003', 'IT001', 'Motor Oil 5L', 40, 'WH02', 'North Depot', 'Shelf C3', 'C001', 'Mekong Corp', 'S01', 'Hoa Nguyen'),
    ('R004', 'IT003', 'Battery 12V', 25, 'WH01', 'Main Warehouse', 'Shelf A1', 'C003', 'Delta Co', 'S02', 'Khang Tran')
]

# Execute the query with the values
cursor.executemany(query, values)

# Commit the changes
connection.commit()

In [27]:
query = ('''select * from Records_NO3NF''')
data = pd.read_sql(query,engine)
data.tail()

,record_id,item_code,item_name,quantity,warehouse_id,warehouse_name,location,customer_id,customer_name,staff_id,staff_name
0,R001,IT001,Motor Oil 5L,50,WH01,Main Warehouse,Shelf A1,C001,Mekong Corp,S01,Hoa Nguyen
1,R002,IT002,Engine Cleaner,30,WH01,Main Warehouse,Shelf B2,C002,Vina Auto,S02,Khang Tran
2,R003,IT001,Motor Oil 5L,40,WH02,North Depot,Shelf C3,C001,Mekong Corp,S01,Hoa Nguyen
3,R004,IT003,Battery 12V,25,WH01,Main Warehouse,Shelf A1,C003,Delta Co,S02,Khang Tran

Bảng này đã thỏa 1NF và vi phạm 2NF bây giờ sẽ bắt đầu tách cột

In [29]:
cursor = connection.cursor()
cursor = cursor.execute('''
                        CREATE TABLE IF NOT EXISTS Warehouse(
                        warehouse_id VARCHAR(10) PRIMARY KEY,
                        warehouse_name VARCHAR(100)
                        );
                        ''')
print("bảng 'Warehouse' đã được tạo thành công ")

bảng 'Warehouse' đã được tạo thành công

In [31]:
cursor=connection.cursor()
cursor.execute('''
CREATE TABLE IF NOT EXISTS Items (
    item_code VARCHAR(10) PRIMARY KEY,
    item_name VARCHAR(100) NOT NULL
);
               ''')
print("bảng 'Items' đã được tạo thành công ")

bảng 'Items' đã được tạo thành công

In [32]:
cursor=connection.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Customers (
    customer_id VARCHAR(10) PRIMARY KEY,
    customer_name VARCHAR(100) NOT NULL
);

               ''')
print("bảng 'Customers' đã được tạo thành công ")

bảng 'Customers' đã được tạo thành công

In [33]:
cursor=connection.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Staff (
    staff_id VARCHAR(10) PRIMARY KEY,
    staff_name VARCHAR(100) NOT NULL
);

               ''')
print("bảng 'Staff' đã được tạo thành công ")

bảng 'Staff' đã được tạo thành công

In [35]:
cursor = connection.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Records2NF (
        record_id VARCHAR(10) PRIMARY KEY,
        item_code VARCHAR(10),
        quantity INT NOT NULL,
        warehouse_id VARCHAR(10),
        location VARCHAR(20) NOT NULL,
        customer_id VARCHAR(10),
        staff_id VARCHAR(10),
        FOREIGN KEY (item_code) REFERENCES Items(item_code),
        FOREIGN KEY (warehouse_id) REFERENCES Warehouse(warehouse_id),
        FOREIGN KEY (customer_id) REFERENCES Customers(customer_id),
        FOREIGN KEY (staff_id) REFERENCES Staff(staff_id)
    );
''')
print("Bảng 'Records2NF' đã được tạo thành công")

Bảng 'Records2NF' đã được tạo thành công

In [36]:
cursor = connection.cursor()

# Dữ liệu cần chèn vào bảng Items
items = [
    ('IT001', 'Motor Oil 5L'),
    ('IT002', 'Engine Cleaner'),
    ('IT003', 'Battery 12V')
]

# Sử dụng vòng lặp for để chèn dữ liệu
for item in items:
    cursor.execute('''
        INSERT INTO Items (item_code, item_name) VALUES (%s, %s)
    ''', item)

connection.commit()  # Xác nhận thay đổi
print("Dữ liệu đã được chèn vào bảng 'Items'.")

Dữ liệu đã được chèn vào bảng 'Items'.

In [38]:
cursor = connection.cursor()

# Dữ liệu cần chèn vào bảng Warehouse
warehouses = [
    ('WH01', 'Main Warehouse'),
    ('WH02', 'North Depot')
]

# Sử dụng vòng lặp for để chèn dữ liệu
for warehouse in warehouses:
    cursor.execute('''
        INSERT INTO Warehouse (warehouse_id, warehouse_name) VALUES (%s, %s)
    ''', warehouse)

connection.commit()  # Xác nhận thay đổi
print("Dữ liệu đã được chèn vào bảng 'Warehouse'.")

Dữ liệu đã được chèn vào bảng 'Warehouse'.

In [39]:
cursor = connection.cursor()

# Dữ liệu cần chèn vào bảng Customers
customers = [
    ('C001', 'Mekong Corp'),
    ('C002', 'Vina Auto'),
    ('C003', 'Delta Co')
]

# Sử dụng vòng lặp for để chèn dữ liệu
for customer in customers:
    cursor.execute('''
        INSERT INTO Customers (customer_id, customer_name) VALUES (%s, %s)
    ''', customer)

connection.commit()  # Xác nhận thay đổi
print("Dữ liệu đã được chèn vào bảng 'Customers'.")

Dữ liệu đã được chèn vào bảng 'Customers'.

In [40]:
cursor = connection.cursor()

# Dữ liệu cần chèn vào bảng Staff
staff = [
    ('S01', 'Hoa Nguyen'),
    ('S02', 'Khang Tran')
]

# Sử dụng vòng lặp for để chèn dữ liệu
for person in staff:
    cursor.execute('''
        INSERT INTO Staff (staff_id, staff_name) VALUES (%s, %s)
    ''', person)

connection.commit()  # Xác nhận thay đổi
print("Dữ liệu đã được chèn vào bảng 'Staff'.")

Dữ liệu đã được chèn vào bảng 'Staff'.

In [41]:
cursor = connection.cursor()

# Dữ liệu cần chèn vào bảng Records2NF
records = [
    ('R001', 'IT001', 50, 'WH01', 'Shelf A1', 'C001', 'S01'),
    ('R002', 'IT002', 30, 'WH01', 'Shelf B2', 'C002', 'S02'),
    ('R003', 'IT001', 40, 'WH02', 'Shelf C3', 'C001', 'S01'),
    ('R004', 'IT003', 25, 'WH01', 'Shelf A1', 'C003', 'S02')
]

# Sử dụng vòng lặp for để chèn dữ liệu
for record in records:
    cursor.execute('''
        INSERT INTO Records2NF (record_id, item_code, quantity, warehouse_id, location, customer_id, staff_id) 
        VALUES (%s, %s, %s, %s, %s, %s, %s)
    ''', record)

connection.commit()  # Xác nhận thay đổi
print("Dữ liệu đã được chèn vào bảng 'Records2NF'.")

Dữ liệu đã được chèn vào bảng 'Records2NF'.

In [45]:
connection.close()  # Đóng kết nối
engine.dispose()     # Giải phóng tài nguyên của engine (nếu cần)