In [1]:
import mysql.connector
import numpy as np
import pandas as pd

# Thông tin kết nối
host = "localhost"
user = "root"  # Thay bằng username của bạn
password = "qiwoqqwu"  # Thay bằng mật khẩu của bạn

try:
    # Kết nối đến MySQL (chưa chọn database)
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password
    )

    if connection.is_connected():
        print("Kết nối thành công đến MySQL Server!")
        cursor = connection.cursor()  # Tạo cursor để thực thi lệnh SQL

except mysql.connector.Error as e:
    print(f"Lỗi khi kết nối: {e}")

Kết nối thành công đến MySQL Server!

In [19]:
cursor=connection.cursor()
cursor.execute("""
            CREATE DATABASE IF NOT EXISTS day43
            DEFAULT CHARACTER set utf8mb4
            COLLATE utf8mb4_unicode_ci;
            """)
print(" Database 'day43' đã được tạo thành công!")

 Database 'day43' đã được tạo thành công!

In [21]:
cursor = connection.cursor()
cursor.execute("USE day43 ")
cursor.execute("""
                CREATE TABLE Transactions_Raw(
                transaction_id INT AUTO_INCREMENT PRIMARY KEY,
                customer_name VARCHAR(50),
                stock_codes VARCHAR(10),
                transaction_date DATE );
                """)
print("Bảng 'transactions_raw' đã được tạo thành công!")

Bảng 'transactions_raw' đã được tạo thành công!

In [30]:
cursor = connection.cursor()

# Kết nối tới cơ sở dữ liệu "day43"
cursor.execute("USE day43")

# Xóa bảng "Transactions_Raw"
cursor.execute("DROP TABLE IF EXISTS Transactions_Raw")

print("Bảng 'Transactions_Raw' đã được xóa thành công!")

Bảng 'Transactions_Raw' đã được xóa thành công!

In [32]:
# Tạo kết nối và cursor
cursor = connection.cursor()

# Sử dụng cơ sở dữ liệu
cursor.execute("USE day43")

# Tạo bảng Transactions_Raw
cursor.execute("""
    CREATE TABLE Transactions_Raw (
        transaction_id INT,
        customer_name VARCHAR(255),
        stock_code VARCHAR(255),
        transaction_date DATE,
        PRIMARY KEY (transaction_id, stock_code)
    );
""")

print("Bảng 'Transactions_Raw' đã được tạo thành công!")

Bảng 'Transactions_Raw' đã được tạo thành công!

In [33]:
cursor.execute("USE day43")

cursor.executemany("""
    INSERT INTO Transactions_Raw(transaction_id, customer_name, stock_code, transaction_date)
    VALUES (%s, %s, %s, %s)
""", [
    (1, 'Nguyen Van A', 'VNM', '2024-12-01'),
    (1, 'Nguyen Van A', 'FPT', '2024-12-01'),
    (1, 'Nguyen Van A', 'MWG', '2024-12-01'),
    (2, 'Le Thi B', 'SSI', '2024-12-02'),
    (3, 'Tran Van C', 'VCB', '2024-12-03'),
    (3, 'Tran Van C', 'TCB', '2024-12-03')
])

# Lưu thay đổi vào database
connection.commit()

In [38]:
cursor.execute("SELECT * FROM Transactions_Raw")
result = cursor.fetchall()

for row in result:
    print(row)

(1, 'Nguyen Van A', 'FPT', datetime.date(2024, 12, 1))
(1, 'Nguyen Van A', 'MWG', datetime.date(2024, 12, 1))
(1, 'Nguyen Van A', 'VNM', datetime.date(2024, 12, 1))
(2, 'Le Thi B', 'SSI', datetime.date(2024, 12, 2))
(3, 'Tran Van C', 'TCB', datetime.date(2024, 12, 3))
(3, 'Tran Van C', 'VCB', datetime.date(2024, 12, 3))

In [5]:
import pandas as pd
from sqlalchemy import create_engine

# Tạo engine kết nối MySQL với SQLAlchemy
engine = create_engine("mysql+mysqlconnector://root:qiwoqqwu@localhost/day43")
query = "SELECT * FROM Transactions_Raw"
df = pd.read_sql(query, engine)

print(df)

   transaction_id customer_name stock_code transaction_date
0               1  Nguyen Van A        FPT       2024-12-01
1               1  Nguyen Van A        MWG       2024-12-01
2               1  Nguyen Van A        VNM       2024-12-01
3               2      Le Thi B        SSI       2024-12-02
4               3    Tran Van C        TCB       2024-12-03
5               3    Tran Van C        VCB       2024-12-03

In [7]:
cursor.execute("USE day43")
# Xem thông tin khóa chính
cursor.execute("SHOW INDEXES FROM Transactions_Raw WHERE Key_name = 'PRIMARY'")
primary_key_info = cursor.fetchall()
print("Thông tin khóa chính:")
for row in primary_key_info:
    print(row)

# Xem thông tin về các khóa ngoại (nếu có)
cursor.execute("SHOW CREATE TABLE Transactions_Raw")
create_table_info = cursor.fetchall()
print("\nThông tin cấu trúc bảng (bao gồm khóa ngoại nếu có):")
for row in create_table_info:
    print(row)

Thông tin khóa chính:
('transactions_raw', 0, 'PRIMARY', 1, 'transaction_id', 'A', 3, None, None, '', 'BTREE', '', '', 'YES', None)
('transactions_raw', 0, 'PRIMARY', 2, 'stock_code', 'A', 6, None, None, '', 'BTREE', '', '', 'YES', None)

Thông tin cấu trúc bảng (bao gồm khóa ngoại nếu có):
('Transactions_Raw', 'CREATE TABLE `transactions_raw` (\n  `transaction_id` int NOT NULL,\n  `customer_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,\n  `stock_code` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `transaction_date` date DEFAULT NULL,\n  PRIMARY KEY (`transaction_id`,`stock_code`)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci')

In [4]:
cursor.execute("USE day43")
cursor.executemany("""
    INSERT INTO Transactions_Raw(transaction_id, customer_name, stock_code, transaction_date)
    VALUES (%s, %s, %s, %s)
                   """,[
                       (4,'Ngo Van A','SCB', '2024-12-04'),
                       (4,'Ngo Van B','TCB', '2024-12-04'),
                       (5,'Ung Duy A','VAR', '2024-12-05'),
                       (5,'Ung Duy B','SCB', '2024-12-05'),
                       (6,'Tou Li A','GRB', '2024-12-04')
])
connection.commit()

In [8]:
import pandas as pd
from sqlalchemy import create_engine

# Tạo engine kết nối MySQL với SQLAlchemy
engine = create_engine("mysql+mysqlconnector://root:qiwoqqwu@localhost/day43")
query = "SELECT * FROM Transactions_Raw"  # Sửa từ 'SELCTT' thành 'SELECT'
df = pd.read_sql(query, engine)
print(df)

    transaction_id customer_name stock_code transaction_date
0                1  Nguyen Van A        FPT       2024-12-01
1                1  Nguyen Van A        MWG       2024-12-01
2                1  Nguyen Van A        VNM       2024-12-01
3                2      Le Thi B        SSI       2024-12-02
4                3    Tran Van C        TCB       2024-12-03
5                3    Tran Van C        VCB       2024-12-03
6                4     Ngo Van A        SCB       2024-12-04
7                4     Ngo Van B        TCB       2024-12-04
8                5     Ung Duy B        SCB       2024-12-05
9                5     Ung Duy A        VAR       2024-12-05
10               6      Tou Li A        GRB       2024-12-04

In [10]:
query ="select customer_name , stock_code from Transactions_Raw"
sql4b = pd.read_sql(query,engine)
print(sql4b)

   customer_name stock_code
0   Nguyen Van A        FPT
1   Nguyen Van A        MWG
2   Nguyen Van A        VNM
3       Le Thi B        SSI
4     Tran Van C        TCB
5     Tran Van C        VCB
6      Ngo Van A        SCB
7      Ngo Van B        TCB
8      Ung Duy B        SCB
9      Ung Duy A        VAR
10      Tou Li A        GRB

In [29]:
check_before_update_query = "SELECT * FROM Transactions_Raw WHERE customer_name = 'Nguyen Van A'"
df_before = pd.read_sql(check_before_update_query, engine)
print("Dữ liệu trước khi cập nhật:")
print(df_before)

Dữ liệu trước khi cập nhật:
   transaction_id customer_name stock_code transaction_date
0               1  Nguyen Van A        FPT       2024-12-01
1               1  Nguyen Van A        MWG       2024-12-01
2               1  Nguyen Van A        VNM       2024-12-01

In [3]:
from sqlalchemy import text, create_engine

engine = create_engine("mysql+mysqlconnector://root:qiwoqqwu@localhost/day43")

check_before_update_query = "SELECT * FROM Transactions_Raw WHERE customer_name LIKE '%Nguyen Van A%'"
df_before = pd.read_sql(check_before_update_query, engine)
print("Dữ liệu trước khi cập nhật:")
print(df_before)

update_query = """
    UPDATE Transactions_Raw
    SET customer_name = 'Nguyen V. A.'
    WHERE customer_name LIKE '%Nguyen Van A%'
"""
with engine.connect() as connection:
    result = connection.execute(text(update_query))
    connection.commit()  
    print(f"Số bản ghi bị ảnh hưởng: {result.rowcount}")

Dữ liệu trước khi cập nhật:
Empty DataFrame
Columns: [transaction_id, customer_name, stock_code, transaction_date]
Index: []
Số bản ghi bị ảnh hưởng: 0

In [4]:
check_after_update_query = "SELECT * FROM Transactions_Raw WHERE customer_name LIKE '%Nguyen V. A%'"
df_after = pd.read_sql(check_after_update_query, engine)
print("Dữ liệu sau khi cập nhật:")
print(df_after)

Dữ liệu sau khi cập nhật:
   transaction_id customer_name stock_code transaction_date
0               1  Nguyen V. A.        FPT       2024-12-01
1               1  Nguyen V. A.        MWG       2024-12-01
2               1  Nguyen V. A.        VNM       2024-12-01

Kiem tra Du Lieu truoc khi xoa Nguyen V.A MWG

In [5]:
check_before_delete_query = """
    SELECT * FROM Transactions_Raw
    WHERE customer_name = 'Nguyen V. A.' AND stock_code = 'MWG'
"""
df_before_delete = pd.read_sql(check_before_delete_query, engine)
print("Dữ liệu trước khi xóa:")
print(df_before_delete)

Dữ liệu trước khi xóa:
   transaction_id customer_name stock_code transaction_date
0               1  Nguyen V. A.        MWG       2024-12-01

In [14]:
delete_query = """DELETE from Transactions_Raw
                WHERE customer_name = 'Nguyen V. A.' AND stock_code ='MWG' """
with engine.connect() as connection:
    result = connection.execute(text(delete_query))
    connection.commit()
    print(f"so ban ghi bi anh huong:{result.rowcount}")

so ban ghi bi anh huong:1

In [18]:
check_before_delete_query = """
    SELECT * FROM Transactions_Raw
"""
after = pd.read_sql(check_before_delete_query, engine)
print("Dữ liệu sau khi xóa:")
print(after)

Dữ liệu sau khi xóa:
   transaction_id customer_name stock_code transaction_date
0               1  Nguyen V. A.        FPT       2024-12-01
1               1  Nguyen V. A.        VNM       2024-12-01
2               2      Le Thi B        SSI       2024-12-02
3               3    Tran Van C        TCB       2024-12-03
4               3    Tran Van C        VCB       2024-12-03
5               4     Ngo Van A        SCB       2024-12-04
6               4     Ngo Van B        TCB       2024-12-04
7               5     Ung Duy B        SCB       2024-12-05
8               5     Ung Duy A        VAR       2024-12-05
9               6      Tou Li A        GRB       2024-12-04

Viết truy vấn đếm số lượng mã cổ phiếu mỗi khách hàng đã giao dịch.

In [22]:
quantity_stock= """SELECT customer_name, COUNT(DISTINCT stock_code) AS num_stock_codes
                FROM Transactions_Raw
                GROUP BY customer_name;
 """
with engine.connect() as connection:
     result = pd.read_sql(quantity_stock,engine)
     print(result)

  customer_name  num_stock_codes
0      Le Thi B                1
1     Ngo Van A                1
2     Ngo Van B                1
3  Nguyen V. A.                2
4      Tou Li A                1
5    Tran Van C                2
6     Ung Duy A                1
7     Ung Duy B                1

• Tìm khách hàng giao dịch nhiều mã cổ phiếu nhất.

In [29]:
most_orders = """
    SELECT customer_name, COUNT(DISTINCT stock_code) AS num_stock_codes
    FROM transactions_raw
    GROUP BY customer_name
    ORDER BY num_stock_codes DESC
    LIMIT 1;
"""

# Sử dụng engine.connect() để tạo kết nối và truyền vào pd.read_sql()
with engine.connect() as connection:
    result = pd.read_sql(most_orders, connection)
    print(result)

  customer_name  num_stock_codes
0  Nguyen V. A.                2

In [30]:
connection.close()